body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

nav {
  float: left;
  height: 100%;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 320px;
}

h1 {
  display: block;
  height: 100%;
  width: 320px;
  text-align: center;
  font-size: 1.9rem;
}

.sidenav a {
  padding: 10px 8px 10px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #707070;
  display: block;
  border-top: solid;
  border-width: 1px;
  border-color: #707070;
}

/* CHANGE COLOR HOVER NAV */
.sidenav a:hover {
  color: #1007ac;
}

main {
  display: block;
  height: 100%;
  margin-left: 320px;
  margin-right: 25px;
  border-left: solid;
  border-width: 3px;
  border-color: #707070;
  min-width: 200px;
  color: #707070;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.parag {
  margin-left: 70px;
  font-size: 1rem;
  line-height: 25px;
}

ul {
  margin-left: 90px;
}

li {
  margin-top: 20px;
  font-size: 1rem;
}

#parag-title {
  margin-left: 50px;
  font-size: 2.2rem;
  color: black;
  margin-bottom: -2px;
  margin-top: 0px;
}

#parag-title0 {
  margin-left: 50px;
  font-size: 2.2rem;
  color: black;
  margin-bottom: -2px;
}

#parag-title1 {
  margin-left: 50px;
  font-size: 2.2rem;
  color: black;
  margin-bottom: -2px;
  margin-top: 20px;
}

.code-box {
  margin-left: 100px;
  border: black 1px;
  background-color: #f5f5f5; 
  padding: 10px 0px 10px 20px;
}

.code-box p:nth-child(2) {
  margin-top: -15px;
}

.code-box p:nth-child(3) {
  margin-top: -15px;
}

.code-box p:nth-child(4) {
  margin-top: -15px;
}

footer {
  text-align: right;
  padding-right: 25px;
  border-top: solid;
  border-width: 3px;
  border-color: #707070;
}

/* RESPONSIVE TABLET 768px */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .sidenav {
    height: auto;
    position: relative;
    top: 0;
    width: auto;
  }

  .nav-menu {
    border: solid 1px black;
    height: 220px;
    width: auto;
    overflow-y: scroll;
    box-sizing: content-box;
  }

  #resp-title {
    margin: 20px auto 20px auto;
  }

  .resp-marleft {
    margin-left: -90px;
  }

  main {
    height: 100%;
    width: auto;
    margin-left: 0;
    margin-right: 25px;
    border-left: none;
    color: #707070;
    overflow-y: auto;  
    box-sizing: border-box;
    padding-bottom: 50px;
  }

  .code-box {
    margin-left: 100px;
    background-color: #f2f2f2; 
    padding: 10px 0px 10px 20px;
  }
}
